
<html>

<head>
  <title>View Ad Page</title>
</head>
<style>
    html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
  }
  
  
  img{
    height: 20px;
    width: 20px;
  }
  
  
  table {
    width: 70%;
    border-collapse: collapse;
    margin-left: 110px;
}
th,
td {
    text-align: center;
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
ogin-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  #a1{
    font-size: 25px;
    margin-left: 850px;
  }
</style>

<body>
  <br> 
    <div class="login-box">
        <form>
            <h1 style="text-shadow: 2px 2px white;color:rgba(0,0,0,.5);margin-left: 30px;margin-top: 80px;">Ads which are created by you</h1>
           <br> <table class="table table-hover table-dark" id="myTable"
                style="text-align: center;margin-top:2%;background-color: aliceblue;">
                    <tr style="height: 50px;">
                        <th> Name </th>
                        <th>Price </th>
                        <th>Description </th>
                        <th>Image</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                <% if( data.length> 0 )
                    {
                      data.forEach(function (data){
                    %>
               
                    <tr style="height: 50px;">
                        <td><%=data.name%> </td>
                        <td><%=data.price%></td>
                        <td><%=data.description%></td>
                        <td><img src=<%= imageUrl %> ></td> 
                        <td ><a class="" href="/member/updatead/<%=data._id%>"> Update </a> </td> 
                        <td><a class="" href="/member/deletead/<%=data._id%>"> Delete  </a> </td>
                    </tr>
                   <% })
                   %>
                  <!-- <a class="" href="/member/deleteall/<%=data._id%>" id="a1"> Delete All Ads </a></tr>  -->
                   <%
                  } %>
            </table>
          
<br>
            
           </form>
    </div>
  
</body>

</html>
